body { background: #884a08; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 56px; display: flex; }
.block-email-0 { color: #b56256; font-size: 14px; margin-bottom: 5px; }
.block-cluster-1 { color: #badcba; font-size: 21px; margin-bottom: 5px; }
.block-order-2 { color: #4c601; font-size: 19px; margin-bottom: 5px; }
.block-email-3 { color: #443544; font-size: 15px; margin-bottom: 5px; }
.block-logger-4 { color: #b6f1f4; font-size: 20px; margin-bottom: 5px; }
.block-filter-5 { color: #ac38e2; font-size: 18px; margin-bottom: 5px; }
.block-router-6 { color: #5091c8; font-size: 21px; margin-bottom: 5px; }